<div class="container">
<div class="row">
    <md-whiteframe class="col-md-8 md-whiteframe-z1 main-content whitepanelmain">
        <h2>Forgot password</h2>
        <div class="col-md-8" layout="column">
            <div layout-padding class="inputdemoIcons">
                
                <md-input-container>
                    <!-- Use floating placeholder instead of label -->
                    <md-icon class="email"><i class="fa fa-envelope"></i></md-icon>
                    <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
                </md-input-container>
             
                <md-button class="md-primary md-raised md-hue-2" ng-click="forgotpassword()">Submit</md-button>

            </div>
            </div>
        </div>
</md-whiteframe>
</div>
