<div class="container">
<div class="row">
    <md-whiteframe class="col-md-8 md-whiteframe-z1 main-content whitepanelmain xtra_page">
        
            <div class="col-md-8" layout="column">
                    <h2 class="home-title">Michael's Meeting Point</h2>
                    <div layout-padding class="inputdemoIcons homepage">
                        <a href="#/profile">Upload Your Profile</a>
                        <a href="#/main">Look For Your Match</a>
                        <a href="#/signup">Become A Member</a>
                        <strong><i>Have Fun,Stay Safe</i></strong>
                    </div>
                    <div class="special-text home_about">
                        <h2> At Michael's Meeting Point we understand the extra requirments for people with special needs. Parents and carers are encouraged to be involved. You can have administration over this account. <strong><a href="">Click here</a> to have administration control.</strong></h2>
                    </div>
            </div>
            <div class="col-md-4">
                 <img src="images/profile/3_1.jpg" class="img-thumbnail" alt="">
                 <img src="images/profile/6_1.jpg" class="img-thumbnail" alt="">
        </div>
        </div>
        
</md-whiteframe>
</div>
